.aboutUsOuterContainer {
  padding: 4em 0 25em 0;
}

.aboutUsInnerContainer {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .aboutUsInnerContainer {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 500px) {
  .aboutUsInnerContainer {
    font-size: 0.4em;
  }
}
